.contact
    .wrapper-title
        background: url( '../img/sucursales/banner.png' ) no-repeat scroll center center transparent
        height: 221px
        .title
            display: flex
            h1
                @include font-mask( normal, em( 50, 16 ), 1.5em, $helvetica, $white-color )
                text-align: center
                display: block
                text-align: center
                width: 100%
