.home
    .wrapper
    section.central
        margin: 3.90625% auto 0
        width: 88.28125%
        figure
            float: left
            height: 15.625%
            overflow: hidden
            position: relative
            width: 25%
            img
                display: block
                height: 100%
                width: 100%
            .white-logo
                //box-shadow: inset 0px 1px 10px 5px rgba(0,0,0,0.50)
                background-color: $light-green
                height: 100%
                left: 100%
                position: absolute
                transition: all 0.5s ease
                top: 0
                width: 100%
                .white-vector
                    bottom: 0
                    height: 35.333333333%
                    left: 0
                    margin: auto
                    position: absolute
                    right: 0
                    top: 0
                    width: 50%
                .logo-white
            &:hover, &.displayed
                .white-logo
                    left: 0
                    transition: all 0.5s ease
