
/* Start Sprite Master CSS */
.icono-sucursales,.mono-bolsatrabajo,.mono-contacto,.mono-home,.mono-home,.mono-media,.mono-paquetes-y-promos,.mono-sipirily,.boton-subir,.icono-facebook,.icono-google,.icono-twitter,.icono-youtube,.icono-franquicias,.icono-invitaciones,.icono-paquetes,.icono-promociones,.btn-hover,.btn-next,.btn-prev,.map-icon,.abejas,.anita,.bonny,.insectos,.mago,.oggly,.oliver,.ozzy,.sonny,.ussy,.sony,.quote,.logo-sipirily,.btn-next-green,.btn-prev-green{display: inline-block;background-repeat: no-repeat;background-image: url('../img/home/sprite.png');}
.icono-sucursales{background-position:0px 0px;width:64px;height:45px;}
.mono-bolsatrabajo{background-position:0px -45px;width:57px;height:38px;}
.mono-contacto{background-position:0px -83px;width:47px;height:39px;}
.mono-home{background-position:0px -122px;width:53px;height:47px;}
.mono-home{background-position:0px -169px;width:53px;height:47px;}
.mono-media{background-position:0px -216px;width:51px;height:47px;}
.mono-paquetes-y-promos{background-position:0px -263px;width:41px;height:55px;}
.mono-sipirily{background-position:0px -318px;width:29px;height:51px;}
.boton-subir{background-position:0px -369px;width:55px;height:55px;}
.icono-facebook{background-position:-47px -83px;width:41px;height:36px;}
.icono-google{background-position:-57px -45px;width:41px;height:36px;}
.icono-twitter{background-position:-64px 0px;width:41px;height:36px;}
.icono-youtube{background-position:-29px -318px;width:41px;height:36px;}
.icono-franquicias{background-position:0px -424px;width:189px;height:208px;}
.icono-invitaciones{background-position:-70px -119px;width:189px;height:208px;}
.icono-paquetes{background-position:0px -632px;width:189px;height:208px;}
.icono-promociones{background-position:-189px -327px;width:189px;height:208px;}
.btn-hover{background-position:-105px 0px;width:100px;height:100px;}
.btn-next{background-position:-55px -354px;width:45px;height:45px;}
.btn-prev{background-position:-100px -327px;width:45px;height:45px;}
.map-icon{background-position:0px -840px;width:78px;height:75px;}
.abejas{background-position:-189px -535px;width:292px;height:401px;}
.anita{background-position:-378px 0px;width:292px;height:401px;}
.bonny{background-position:-481px -401px;width:292px;height:401px;}
.insectos{background-position:-670px 0px;width:292px;height:401px;}
.mago{background-position:-773px -401px;width:292px;height:401px;}
.oggly{background-position:-962px 0px;width:292px;height:401px;}
.oliver{background-position:-1065px -401px;width:292px;height:401px;}
.ozzy{background-position:-1254px 0px;width:292px;height:401px;}
.sonny{background-position:-1357px -401px;width:292px;height:401px;}
.ussy{background-position:-1546px 0px;width:292px;height:401px;}
.sony{background-position:-78px -840px;width:88px;height:89px;}
.quote{background-position:-378px -401px;width:80px;height:80px;}
.logo-sipirily{background-position:-481px -802px;width:209px;height:109px;}
.btn-next-green{background-position:-145px -327px;width:40px;height:40px;}
.btn-prev-green{background-position:-145px -367px;width:40px;height:40px;}
/* End Sprite Master CSS */
