$white-color:           #FFFFFF
$green-section:         #4EBA4F
$menu-item-background:  #1694D6
$menu-item-color:       #FF5C0F
$purple-button:         #5D009E
$purple-border:         #520278
$blue-border:           #27A1B6
$yellow-background:     #FDE74D
$gray-text:             #AEAEAE
$link-color:            #877EB7
$blank-text:            #000000
$gray-border:           #F0F0F0