html,body
    display: table
    height: 100%
    width: 100%
.wrapper
    display: table
    width: 100%
.wrapper-
.character-small-
.central
    display: block
    margin: 0 auto
    width: 960px
.button
    box-sizing: border-box
    display: inline-block
    padding: 10px 20px
    text-transform: uppercase
    -webkit-appearance: button
.purple
    background-color: $purple-button
.green
    background-color: $green-section
.yellow
    background-color: $yellow-background
.blue
    background-color: $menu-item-background
.border-white
    border: 3px solid $white-color
.border-blue
    border: 3px solid $blue-border
.border-purple
    border: 3px solid $purple-border
.browser
    color: transparent
    &.disabled
        display: none
.internal
    .wrapper-title
        .title
            display: flex
            height: 100%
            h1
                @include font-mask( normal, em( 50, 16 ), 1.5em, $helvetica, $white-color )
                align-self: center
                text-align: center
                display: block
                text-align: center
                width: 100%

.wrapper-header
    background-color: $white-color
    position: static
    transition: all 0.5seg ease
    &.fixed
        left: 0
        position: fixed
        transition: all 0.5seg ease
        top: 0
        width: 100%
        z-index: 10
    header
        box-sizing: border-box
        padding: 20px 0
        a
            color: transparent
        nav
            float: right
            ul
                display: flex
                margin: 0
                padding: 0
                li
                    align-self: flex-start
                    box-sizing: border-box
                    height: 115px
                    list-style: none outside
                    width: 70px
                    a
                        @include font-mask( normal, em( 13, 16 ), 1.2em, $helvetica, $menu-item-color )
                        box-sizing: border-box
                        display: block
                        height: 100%
                        padding: 1em 0 0
                        transition: all 0.5s ease
                        text-align: center
                        text-decoration: none
                        width: 100%
                        &:hover
                            background-color: $menu-item-background
                            color: $white-color
                            transition: all 0.5s ease
                        &:before
                            clear: both
                            content: ""
                            display: block !important
                            margin: 0 auto
                            position: relative
                        &[alt="Home"]
                            &:before
                                @extend .mono-home
                                margin-bottom: em( 25, 13 )
                        &[alt="Sucursales"]
                            &:before
                                @extend .icono-sucursales
                                margin-bottom: em( 27, 13 )
                        &[alt^="Paquete"]
                            &:before
                                @extend .mono-paquetes-y-promos
                                margin-bottom: em( 12, 13 )
                        &[alt="Sipirily Media"]
                            &:before
                                @extend .mono-media
                                margin-bottom: em( 21, 13 )
                        &[alt^="Bolsa"]
                            &:before
                                @extend .mono-bolsatrabajo
                                margin-bottom: em( 30, 13 )
                        &[alt="Sipirily"]
                            &:before
                                @extend .mono-sipirily
                                margin-bottom: em( 25, 13 )
                        &[alt="Contacto"]
                            &:before
                                @extend .mono-contacto
                                margin-bottom: em( 33, 13 )
google-map
    clear: both
    display: block
    height: 350px
    margin: 0 auto
    overflow: hidden
    position: relative !important
    width: 100%
    #map
        z-index: 0
    google-map-marker
        display: block
        position: relative
        z-index: 100
input[type="text"],input[type="email"],textarea
    &.error
        border: 1px solid red !important
        box-shadow: 0 0 5px 0 rgba( 255, 0, 0, 0.8 )
.wrapper-contact
    background: url("../img/home/contacto/fondo-nubes.png") no-repeat scroll center top transparent
    .contact-us
        h5
            @include font-mask( normal, em( 40, 16 ), 1.5em, $helvetica, $menu-item-background )
            margin: 60px auto 0
            display: block
            text-align: center
        p
            @include font-mask( normal, em( 15, 16 ), 1.5em, $helvetica, $gray-text )
            display: block
            margin: 0
            text-align: center
        ul
            display: flex
            margin: 80px auto 0
            padding: 0
            li
                align-self: stretch
                list-style: none outside
                width: 25%
                p
                    &.title
                        @include font-mask( normal, em( 20, 16 ), 1.5em, $helvetica, $menu-item-background )
                        margin: 1em auto em( 13, 20 )
                    a
                        color: $link-color
                        text-decoration: none
        form
            display: block
            margin: 10px auto 0
            fieldset
                float: left
                box-sizing: border-box
                padding: 0 10px
                width: 50%
                input[type="text"], textarea
                    @include font-mask( normal, em( 16, 16 ), 1.5em, $helvetica, $gray-text )
                    border: 1px solid $gray-border
                    width: 100%
                &:nth-child( 2 )
                    .input
                        textarea
                            height: 200px
                            resize: unset
                .input
                    margin: 0 auto 35px
                    width: 100%
                    input[type="text"]
                        height: 40px
            >.input
                align-self: unset !important
                clear: both
                display: block
                margin: 0 auto 50px
                input[type="submit"]
                    @include font-mask( normal, em( 16, 16 ), 1.5em, $helvetica, $white-color )
                    cursor: pointer
                    display: block
                    margin: 0 auto
                    &:after
                        content: ">"
                        float: rigth
                        margin-left: 5px
                        position: relative
.wrapper-footer
    background: url("../img/home/footer/fondo-footer.png") no-repeat scroll center center transparent
    height: 240px
    footer
        box-sizing: border-box
        height: 100%
        padding: 100px 0 0
        ul
            display: flex
            margin: 0 auto 0
            padding: 0
            width: 174px
            li
                align-self: flex-start
                list-style: none outside
                margin: 0 10px 0 0
                &:last-child
                    margin-right: 0
                a
                    color: transparent
            .icono-facebook
            .icono-twitter
            .icono-google
            .icono-youtube
        p
            @include font-mask( normal, em( 15, 16 ), 1.5em, $helvetica, $white-color )
            text-align: center
            a
                color: inherit
                cursor: pointer
                text-decoration: none
a[title="Subir"]
    bottom: 1.953125vw
    color: transparent
    position: fixed
    right: 1.953125vw
