html,body
    display: table
    height: 100%
    width: 100%
.wrapper
    display: table
    width: 100%
.wrapper-
.character-small-
.central
    display: block
    margin: 0 auto
    width: 93.75vw
.button
.purple
.green
.yellow
.border-white
.border-blue
.wrapper-header
    header
        a
            img
        nav
            ul
                li
                    a
                        &[alt="Home"]
                        &[alt="Sucursales"]
                        &[alt="Paquetes & Promos"]
                        &[alt="Sipirily Media"]
                        &[alt="Bolsa de Trabajo"]
                        &[alt="Sipirily"]
                        &[alt="Contacto"]
google-map
    google-map-marker
        img
.wrapper-contact
    .contact-us
        h5
        p
        ul
            li
                p
                    &.title
                    a
        form
            fieldset
                &:nth-child( 2 )
                    .input
                        textarea
                .input
                    input[type="text"]
            .input
                input[type="submit"]
.wrapper-footer
    footer
        ul
            li
                a
            .icon-facebook
            .icon-twitter
            .icon-google
            .icon-youtube
        p
            a
a[title="Subir"]
.home
    .wrapper-gallery
        .gallery
            .scrollable
                .items
                    article
                        h1
                        a
                .navigator
    .wrapper-know-our-branches
        .know-our-branches
            h2
            span
                img
            a
    .wrapper-welcome-yo-sipirily-land
        .welcome-to-sipirily-land
            h3
            p
            ul
                .character-small-
                    p
                        &.section-name
                        &.section-description
                    a.know-more
    .wrapper-branch-hightlighted-video
        section.central
            ul
                li
                    a
            .branch-hightlighted
                h4
                ul
                    li
                        p
                            &.branch-name
                            a
                            .icon-arrow
                    li
                        p
                            &.branch-name
                            &.icon-arrow
                            a
                    .branch-hightlighted
                        a
                            .browser
                            .prev
                            .next
                        .items
                            figure
                                img
                        .thumbnails
                            li
                                figure
                                    img
            .video
                video
    .wrapper-meet-out-characters
        .character-gallery
            h4
            a
                &.browser
                &.prev
            .item
                figure
                    img
            .next
    .wrapper-blockquote
        .blockquote
            blockquote
                .quote
                quote
                hr
                p
                    &.author
        .navigator

