$font-size: 16px
html,body, .banner
    background: url('../img/home/linen-yellow.jpg') repeat scroll 0 0 transparent
.header
    border-bottom: 0 none transparent
    header
        border-bottom: $dark-green solid 3px
        height: auto
        margin: 0 auto
        position: relative
        p
            clear: both
            display: block
            float: none
            height: 18.75vw
            margin: 5vw auto
            position: static
            width: 39.375vw
            .logo
                height: 100%
                width: 100%
                span
                    display: none
                .logo-vector
                    display: inline-block
                    fill: red
                    height: 100%
                    width: 100%
        .cell
            color: $dark_green
            float: none
            height: 8.125vw
            position: absolute
            right: 3.75vw
            top: 5.9375vw
            width: 9.375vw
            z-index: 5
            .icon
                display: inline-block
                width: 100%
                height: 100%
                fill: $dark_green
            .icon-menu
                /*fill: #fff210*/
        .desktop
            display: none
    > ul
        display: block
        float: none
        height: 0
        margin: 0
        overflow: hidden
        padding: 0
        position: relative
        transition: all 0.5s ease
        width: 100%
        &:before
            @include triangle ( $dark-green, solid, 10px, transparent, solid, 10px, transparent, solid, 10px, transparent, solid, 10px )
            bottom: auto
            content: " "
            left: auto
            margin: 0
            position: absolute
            right: 3.75vw
            top: 0
        li
            display: flex
            float: none
            height: 14.375vw
            transition: all 0.5s ease
            width: 100%
            form
                display: block
                height: auto
                margin: 4.6875vw auto
                position: static
                width: 72.8125vw
                fieldset
                    display: block
                    height: 100%
                    width: 100%
                    select
                        @include font-mask( normal, 5vw, 5.625vw, $asap-regular, $text-municipality )
                        display: block
                        width: 100%
            a
                @include font-mask( normal, 5vw, 14.375vw, $asap-regular, $placeholder-color )
                display: block
                height: 100%
                text-align: center
                text-decoration: none
                width: 100%
        &.active
            height: auto
            transition: all 0.5s ease
            li
                transition: all 0.5s ease
                &:hover
                    background: #F5F5F5
                    a
                        color: $dark-green
.banner
    bottom: 7.8125vw
    position: fixed
    z-index: 8 !important
    img
        margin: 0 auto
        width: 97.5vw
        z-index: 10
    figcaption
        p
            @include font-mask( normal, 2.8125vw, 1.5em, $asap-regular, $text-normal )
            margin: 3.125vw auto
            width: 99.25vw
footer
    bottom: 0
    height: 5vw
    position: fixed
    width: 100%
    p
        @include font-mask( normal, 2.5vw, em( 25, 8 ), $asap-bold, $white-color )
.desktop
    display: none !important
.mobile
    display: block
.central
    width: 100%
    .B_crumbBox
        @include font-mask( normal, 4.375vw, 1.5em, $asap-regular, $text-normal )
        box-sizing: border-box
        clear: left
        display: block
        float: left
        margin: 0 0 6.25vw
        overflow: hidden
        padding: 0 8.75vw
        text-overflow: ellipsis
        width: 100vw
        white-space: nowrap
        li
            display: inline-block
            list-style: none inside
            a
                color: $text-normal
                text-decoration: none
                span
        .slash_crumb
            @include font-mask( normal, 4.375vw, 1.5em, $asap-regular, $text-normal )
            &:nth-child( 1n )
                display: none
            &:nth-child( 1n + 3 )
                display: inline
        .B_firstCrumb
            display: none
        .B_homeCrumb
        .B_crumb
        .B_lastCrumb
        .B_currentCrumb
            @include font-mask( normal, 4.375vw, 1.5em, $asap-regular, $text-normal )
.page
    h1
        @include font-mask( normal, 6.25vw, 7.5vw, $asap-bold, $dark-green )
        box-sizing: border-box
        margin: 6.25vw 9.0625vw
        overflow: hidden
        padding: 0
        text-overflow: ellipsis
        white-space: nowrap
        width: 81.875vw
    section
        > p
            @include font-mask( normal, 3.4375vw, 5.15625vw, $asap-regular, $text-normal )
            padding: 0 9.0625vw
label
    @include font-mask( normal, 6.25vw, 7.1875vw, $asap-regular, $dark_green )
    box-sizing: border-box
    width: 100%
input[type="text"], input[type="email"], textarea
    @include font-mask( normal, 1.3671875vw, 1.5625vw, $asap-regular, $placeholder-color )
    border: 1px solid $placeholder-color
    border-radius: 0
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.5) !important
    float: none
    margin: 0 auto
    -webkit-appearance: none
    &:invalid, &.error
        box-shadow: 0 0 2px 0 red
input[placeholder],
::-moz-placeholder,/* firefox 19+ */
input:-moz-placeholder
    @include font-mask( normal, 5vw, 5.625vw, $asap-regular, $placeholder-color )
.button
    @include font-mask( normal, 5vw, 5.625vw, $asap-regular, $white-color )
    background: $light_green !important
    border-radius: 3px
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50)
    padding: 3.125vw 6.25vw
    -moz-appearance: button
    &:hover
    &:active, &:visited
        box-shadow: inset 0px 0px 0.9375vw 0px rgba(0,0,0,0.50)
    &:disabled
        @include font-mask( normal, 5vw, 5.625vw, $asap-regular, $placeholder-color )
        box-shadow: 0px 0px 0.9375vw 0px rgba(0,0,0,0.50)
.alert
    @include font-mask( normal, 5vw, 5.625vw, $asap-regular, $white-color )
    margin: 6.25vw 0 0
    min-width: 44.375vw
    padding: 2.8125vw 3.125vw
    width: auto
    .info
        height: 5vw
        margin-right: 3.4375vw
        width: 5vw
    p
        @include font-mask( normal, 5vw !important, 5.625vw !important, $asap-regular !important, $white-color !important )
        float: left
        margin: 0
        width: auto
    &.success
        background: $success-alert
    &.fail
        background: $fail-alert
    &.info
        background: $info-alert
.year-picker-wrapper
    display: block
    float: right
    margin: 6.25vw 1.25vw 6.25vw 0
    width: auto
    form
        fieldset
            select
                @include font-mask( normal, 5vw, 5.625vw, $asap-regular, $text-municipality )
                padding: 0
                option
.paging
    display: block
    margin: 0 auto
    width: 100%
    .pageList
        display: block
        float: none
        margin: 0 auto 6.25vw
        li
            height: 12.5vw
            margin: 0 1.875vw 0
            width: 12.5vw
            &:first-child
                margin: 0 1.875vw 0 0
            &:last-child
                margin: 0 0 0 1.875vw
            a
                @include font-mask( normal, 6.25vw, 12.5vw, $asap-bold, $placeholder-color )
                height: 100%
                width: 100%
                .arrow
        &:empty
            margin: 0 auto
.return
    margin: 0 0 6.25vw 8.125vw
.wrapper
    display: table
    width: 100%
